beautifulsoup4==4.8.0
bitarray==1.0.1
dask==2.5.2
decorator==4.4.0
defusedxml==0.6.0
distributed==2.5.2
Django==3.0.2
django-six==1.0.4
docutils==0.15.2
path.py==12.0.1
pep8==1.7.1
psycopg2==2.8.4
py==1.8.0
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0


